body {
	margin: 0;
}
.wrap1 {
	position: absolute;
	left: 50%;
}/*
.wrap2 {
	position: absolute;
	width: 375px;
	left: 50%;
}*/
#board {
	display: block;
	position: relative;
	left:-50%;
	/*border: 1px solid black;*/
	background-color: #fbf0fb;
	/*so cursor on topTopic and grandDadTopic will be pointer, otherwise canvas convers them
	I think*/
	z-index: -1;
}
.topic {
	position: absolute;
	left: -50%;
	cursor: pointer;
	background-color: white;
}
.grandDadTopic{
	position: absolute;
	background-color: #F4FBB7;
	width: 100%;
	line-height: 1.9;
	text-align: center;
	left: -50%;
	cursor: pointer;
}
.topTopic{
	position: absolute;
	text-align: center;
	margin-left: 10px;
	width: 355px;
	margin-top: 55px;
	border-radius: 5px;
	border: 1px black solid;
	font-family: 'sofia_prolight';
	font-size: 16pt;
}
#upnav{
	position: absolute;
	left: 15px;
}
.topicTxt {
	/*padding to keep it from running into glyph on left*/
	padding-left: 18px;
	padding-right: 18px;
}
.firstTpScreen{
	position: absolute;
	left: -50%;
}
.firstTp {
	position: absolute;
	background-color: white;
	text-align: center;
	margin-left: 10px;
	width: 355px;
	margin-top: 35px;
	border: 1px black solid;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'sofia_prolight';
	font-size: 16pt;
}
#ft1{
	/*position: absolute;
	top: 50px;*/
}
#ft2{

}
.subTopic {
	font-family: 'sofia_prolight', Arial, sans-serif;
	font-size: 12pt;
	border-radius: 5px;
	border: 1px black solid;
	text-align: center;
	width: 130px;
}
.wrapCentered {
	position: absolute;
	left: -50%;
}
.selected {
	background-color: red;
}
